@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

$primary: #0a8a1f;

.text-success {
  color: $primary !important;
  text-align: center !important;
  font-size: 0.9rem !important;
}
.text-error {
  color: rgb(183, 33, 33) !important;
  text-align: center !important;
  font-size: 0.9rem !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant: small-caps !important;
  img {
    filter: drop-shadow(-1px -1px 1px #0f8811);
  }
  div {
    font-family: "ZCOOL XiaoWei", serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;

    .nav-nova {
      color: rgb(235, 235, 235) !important;
    }
    .nav-turf {
      color: #0f8811 !important;
    }
    .nav-slogan {
      font-size: 1.15rem;
      margin-top: -20px !important;
      margin-bottom: 10px !important;
      color: rgba(235, 235, 235, 0.7) !important;
    }
  }
}

.ftco-navbar-light {
  &.scrolled {
    .navbar-brand {
      img {
        filter: none;
      }
      div {
        .nav-nova {
          color: #1e1e1e !important;
        }
        .nav-turf {
          color: #0f8811 !important;
        }
        .nav-slogan {
          font-size: 1.15rem;
          margin-top: -20px !important;
          margin-bottom: 10px !important;
          color: #666 !important;
          display: none;
        }
      }
    }
  }
}

.sqft {
  font-style: italic;
  color: #333;
}

.faqs {
  font-weight: 700;
}

.faq-item {
  padding: 20px;
}

// Footer
.ftco-footer-social li {
  margin: 0 10px !important;
}

// MAPS
.g-maps {
  margin-top: 50px;
}

// Hiding Small Query
@media screen and (max-width: 501px) {
  .hide-xs {
    display: none !important;
  }
  .hide-sm {
    display: block !important;
  }
  .hide-md {
    display: block !important;
  }
  .ftco-footer-social {
    margin-left: 20px !important;
    li {
      margin: 0 12px !important;
    }
  }
  .footer-slogan {
    font-size: 0.9em;
  }
  .phone a {
    font-size: 14px !important;
  }
  .phone {
    padding: 8px 0 !important;
  }
  .social-media p a span {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 380px) {
  .ftco-footer-social {
    margin-left: 10px !important;
  }
  .phone a {
    font-size: 12px !important;
  }
  .phone {
    padding: 10px 0 !important;
  }
  .social-media p a span {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 370px) {
  .hide-md {
    display: none !important;
  }
  .ftco-footer-social {
    margin-left: 50px !important;
    li {
      margin: 0 10px !important;
    }
  }
}
@media screen and (max-width: 350px) {
  .hide-xs {
    display: none !important;
  }
  .hide-sm {
    display: none !important;
  }
  .ftco-footer-social {
    margin-left: 50px !important;
    li {
      margin: 0 6px !important;
    }
  }
}

// Hiding Big Queries
@media screen and (min-width: 600px) {
  .phone a {
    font-size: 16px !important;
  }
  .phone {
    padding: 7px 0 !important;
  }
  .social-media p a span {
    font-size: 14px !important;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .hide-lg {
    display: none !important;
  }
  .ftco-footer-social li {
    margin: 0 12px !important;
  }

  .phone a {
    font-size: 18px !important;
  }
  .phone {
    padding: 7px 0 !important;
  }

  .social-media p a span {
    font-size: 18px !important;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .g-maps {
    margin-top: 0;
  }
}
